@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  font-family: 'Roboto';
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;

  width: 100vw;
  height: 100vh;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}



/* library */
body {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

header {
  position: relative;
  background: gray;
  box-shadow: 0px 3px 10px gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

header > h1 {
  color: white;
  letter-spacing: 2px;
}

header > button {
  width: 120px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: 0px 0px 8px lightgray;
}

main {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: lightgray;
}

/* use with javascript*/
.book { 
  width: 280px;
  height: 280px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: rgb(248, 246, 246);
  border-left: 8px solid black;
  border-radius: 7px;
  box-shadow: 0px 3px 10px gray;
}

dialog {
  justify-self: center;
  align-self: center;
  width: 300px;
  height: 500px;
  place-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

form > label + input, form > p {
  margin-bottom: 40px;
}

.radio {
  display: flex;
  gap: 8px;
}

form > p + p {
  display: flex;
  justify-content: center;
  gap: 40px;
}

form button {
  width: 90px;
  height: 30px;
  border-radius: 8px;
  margin-top: 10px;
}

form button + button {
  background: rgb(19, 138, 177);
  color: white;
}

.removeBtn, .changeReadBtn {
  border-radius: 7px;
  box-shadow: 0px 3px 10px gray;
}

.removeBtn {
  background-color: rgb(221, 56, 56);
  color: white;
}

#new-book:hover {
  background-color: rgb(201, 197, 197);
}

#cancel:hover {
  background-color: rgb(201, 197, 197);
}

#confirmBtn:hover {
  background-color: rgb(2, 110, 146);;
}
.removeBtn:hover {
  background-color: rgb(149, 39, 39);
}

.changeReadBtn:hover {
  background-color: rgb(201, 197, 197);
}

input {
  border-radius: 8px;
}

input:hover {
  border: blue solid 2px;
}

input:focus {
  border: blue solid 2px;
  outline: none;
}